body.api.documentation { height: auto;}
.green { color: green;}

.sub-nav {
		font-size: 1.5em;
		margin-bottom: 20px;
}

.rsaquo {
	font-size: 1.9em;
	display: inline-block;
	position: relative;
	top: 4px;
}

/* Twilio */

.twilio #hero {
	background-color: #f00;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…BoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background-image: -moz-radial-gradient(center, ellipse cover, red 31%, #600 98%);
	background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(31%, red), color-stop(98%, #660000));
	background-image: -webkit-radial-gradient(center, ellipse cover, red 31%, #600 98%);
	background-image: -o-radial-gradient(center, ellipse cover, red 31%, #600 98%);
	background-image: -ms-radial-gradient(center, ellipse cover, red 31%, #600 98%);
	background-image: radial-gradient(ellipse at center, red 31%, #600 98%);
	padding-top: 82px;
	width: 100%;
	text-align: center;
}

.twilio #hero #outer_box {
	display: inline-block;
}

.twilio #hero #inner_box {
	font-size: 34px;
	letter-spacing: -2px;
	font-family: Helvetica;
	font-weight: 100;
}

.twilio #hero #twilio_logo {
	display: inline-block;
	top: 2px;
	position: relative;
	height: 29px;
}

.twilio #hero #description {
	font-size: 28px;
	padding: 0 80px 56px 80px;
}

.twilio #demoContainer input[type=text],
.twilio #demoContainer input[type=email] {
	width: 30%;
}

.twilio h2.major {
	font-size: 38px;
}